
{% extends "Layouts/BaseMajor.html" %}
{% load static %}

{% block title %}
 Alppha
{% endblock %}


{% block css %} 
 
{% endblock %}

{% block content %} 


<div class="shop-section container mx-auto px-2 sm:px-8 my-5">
    <div class="grid grid-cols-12 gap-5">
        <div class="col-span-12">
            <div class="flex flex-wrap justify-between gap-2 items-center">
                <span class="text-lg">Results of '<span class="text-primary-color">{{search}}</span>'</span>
            </div>
        </div>
        <div class="col-span-12 md:col-span-4 lg:col-span-4 xl:col-span-3">
             
        </div>
        <div class="col-span-12 md:col-span-8 lg:col-span-8 xl:col-span-9">
            <div class="grid grid-cols-12 gap-5"> 
                {% for i in item %}
                <div class="mix mix-main col-span-12 sm:col-span-6 lg:col-span-4 h-auto">
                    <div class="card-container h-full flex flex-col p-5 bg-white rounded-lg shadow-md hover:shadow-xl relative transition-all-300 hover:z-[2] translateY-2 overflow-hidden">
                        <div class="absolute top-[10px] right-[10px]"> 
                            <div class="p-[2px]">
                                <a onclick="view({{i.id}})" class="tippy tippy-left-card-view btn-open-modal flex justify-center items-center h-9 w-9 bg-[rgba(0,0,0,.3)] hover:bg-primary-hover rounded-lg transition-all-300 cursor-pointer" href="javascript:void(0)" data-target=".quick-view-modal">
                                    <i class="bi bi-eye text-xl text-white flex pointer-events-none"></i>
                                </a>
                            </div>
                        </div> 
                        <div class="h-[190px] overflow-hidden rounded-lg">
                            <a href="/ProductDetail/{{i.id}}/">
                                <img class="card-object-fit w-full h-full" src="/media/{{i.image}}" alt="product" />
                            </a>
                        </div>
                        
                        
                        <div class="my-1">
                            <a class="clamp font-medium break-all" href="#"> {{i.name}} </a>
                        </div>
                        <div class="my-1">
                            <p class="text-sm clamp-2 text-gray-400"> {{i.descripcion}}</p>
                        </div>
                        <div class="flex gap-2 my-2">
                            <span class="font-bold">Size:</span>
                            <ul class="flex gap-3">
                                <li>S</li>
                                <li>M</li>
                                <li>L</li>
                                <li>XL</li>
                            </ul>
                        </div>
                        <div class="flex gap-2 my-2">
                            <div class="block h-3 w-3 bg-blue-600 rounded-full"></div>
                            <div class="block h-3 w-3 bg-red-600 rounded-full"></div>
                            <div class="block h-3 w-3 bg-yellow-600 rounded-full"></div>
                            <div class="block h-3 w-3 bg-black rounded-full"></div>
                        </div>
                        <div class="my-1">
                            <span class="text-lg font-bold">$ {{i.price}}</span>
                            <span class="text-sm text-primary-color line-through">  </span>
                        </div>
                        <div class="mt-auto">
                            <a class="btn-effect flex justify-center items-center w-full p-2 bg-primary-color rounded-lg transition-all-300" href="/ProductDetail/${item.id}/">
                                <span class="font-bold uppercase text-white">View details</span>
                            </a>
                        </div>
                    </div>
                </div> 
                {% endfor %} 
            </div>
        </div> 
    </div>
</div>



{% endblock %}


{% block extrajs %}  

 

{% endblock extrajs %}








