{% extends "Layouts/IndexDashboard.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}


{% block css %} 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
{% endblock %}
 

 
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href=" "> </a></li>
              <li class="breadcrumb-item active"> </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
 


{% block content %}  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                     <div class="card">
              <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <a href="{% url create %}" class="btn btn-primary" >
                                Agregar Nuevo <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div> 
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr> 
                            <th>Username</th>
                            <th>First Name</th> 
                            <th>Last Name</th>
                            <th>Email</th>
                            
                            <th>SuperUser</th>                            
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody> 

                        {% for list in object_list %}
                        <tr>
                            <td>{{list.username}}</td>
                            <td>{{list.first_name}}</td> 
                            <td>{{list.last_name}}</td> 
                            <td>{{list.email}}</td> 
                            <td>{{list.is_superuser}}</td> 
                            <td>
                                <a href="{% url update list.id %} " class="btn btn-success">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a onclick="abrir_modal('{% url delete list.id %}')" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr> 
                        
                        {% endfor %} 
                    </tbody>
                </table>
              </div> 
        </div>
      </div><!-- /.container-fluid -->
    </section>  

<div class="modal fade" id="modal">

</div>
 

{% endblock %}


{% block extrajs %} 

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'modal.js'%}"></script>


<script type="application/javascript">
  $(function () {
      $('#example2').DataTable({
          responsive: true,
          autoWidth: false
      });
  }); 
</script>  
 
{% endblock extrajs %}

 
 